<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'learning_logs/base.html' %}
{% block content %}
<p>Temat: {{ topic.text }}</p>
<p>Wpisy:</p>
<a href="{% url 'learning_logs:new_entry' topic.id %}">Dodaj wpis</a>
<ul>
    {% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'d M Y H:i' }}</p>
        <p>{{ entry.text|linebreaks }}</p>
    </li>
    {% empty %}
    <li>Nie ma jeszcze żadnego wpisu.</li>
    {% endfor %}
</ul>
{% endblock content %}
</body>
</html>